body {
    background-color: forestgreen;
    color: ghostwhite;
}

section {
    background-color: gold;
}

div {
    background-color: #324001;
}

h1 {
    background-color: #324001;
}

h3 {
    background-color: #420001;
}