h1  {
    background: black;
    color: white;
    font-family: cursive;
    }
    span {
        color: turquoise;
    }
    
h2  {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    font-family: cursive;
    }

h3  {
    text-decoration: underline;
    background: lightskyblue;
    text-align: right;
    font-family: cursive;


    }